*{
    margin: 0;
    padding: 0;
}

.topnav{
  margin-top: 75px;
  margin-left: 28%;
  margin-right: 25%;
  align-items: center;
}

.topnav div{
  background-color: #6b3914;
  opacity: 0.93;
  align-items: center;
  display: flex;
  width: 240px;
  height: 60px;
  float: left;
}

.a2{
  text-decoration: none;
  font-size: 25px;
  color: inherit;
}

.topnav a:-webkit-any-link:hover{
  color: inherit;
  width: 200%;
}

.topnav a:-webkit-any-link{
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding-left: 16%;
  width: 200%;
  margin: 0px;
}

  
.topnav div:hover {
    background-color: white;
    color: #6b3914;
  }